@page
@model Web.Core.Pages.CookingBook.CookingBookViewModel
@{
    ViewData["Title"] = "Kochbuch - Rezepte ansehen";
}
<div>View</div>

<ul>
    @foreach(var recipe in Model.Recipes)
    {
        <li>@recipe.RecipeName</li>
    }
</ul>