@page
@model Web.Core.Pages.CookingBook.CookingBookViewModel
@{
    ViewData["Title"] = "Kochbuch - Rezepte ansehen";
}

<div>View</div>

<div class="container mt-4">
    <div class="row gy-3">
        
            @foreach (var recipe in Model.Recipes)
            {
                <vc:recipe-card model="@recipe" />
            }
        </div>
    
</div>
